@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Primary palette light  */
  --color-primary-50: #f2f9f9;
  --color-primary-100: #ddeff0;
  --color-primary-200: #bfe0e2;
  --color-primary-300: #92cace;
  --color-primary-400: #5faab1;
  --color-primary-500: #438e96;
  --color-primary-600: #3b757f;
  --color-primary-700: #356169;
  --color-primary-800: #325158;
  --color-primary-900: #2d464c;
  --color-primary-950: #1a2c32;

  /* Neutral palette dark */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f4f4f5;
  --color-neutral-300: #d4d4d8;
  --color-neutral-400: #a1a1aa;
  --color-neutral-500: #71717a;
  --color-neutral-600: #52525b;
  --color-neutral-700: #3f3f46;
  --color-neutral-800: #27272a;
  --color-neutral-900: #18181b;
  --color-neutral-950: #09090b;

  --color-dark-100: #18181b;
  --color-dark-200: #0e0e11;
}
